@import "mixins";

.experience {
  padding: 10% 0;
  @include tablet-portrait-and-below {
    font-size: 16px;
   }
   @include mobile-landscape-and-below {
    font-size: 12px;
   }

   button {
    margin-top: 1em;
    font-size: 1em;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 5px;
  }
}

.table-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  vertical-align: middle;

  h2{
    @include mobile-landscape-and-below {
      margin-bottom: 0;
      margin-top: 2em;
     }
  }

  ul {
    padding-left: 0;
    @include mobile-landscape-and-below {
      padding: 0 1em;
     }
    li{
      text-align: center;
    }
  } 
  

 @include tablet-portrait-and-below {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
 }
  
}

.cell {
  min-height: 15em;
  @include tablet-portrait-and-below {
    border-bottom: 1px solid hsl(209, 50%, 20%);
  }
}

.exp { 
  border-right: 1px solid hsl(209, 50%, 20%);
  border-bottom: 1px solid hsl(209, 50%, 20%);
  @include tablet-portrait-and-below {
    border-right: 0;
  }
}
.edu {
  border-left: 1px solid hsl(209, 50%, 20%);
  border-bottom: 1px solid hsl(209, 50%, 20%);
  @include tablet-portrait-and-below {
    border-left: 0;
  }
}

.extra {
  border-right: 1px solid hsl(209, 50%, 20%);
  border-top: 1px solid hsl(209, 50%, 20%);
  @include tablet-portrait-and-below {
    border-right: 0;
   }
}
.back {
  border-left: 1px solid hsl(209, 50%, 20%);
  border-top: 1px solid hsl(209, 50%, 20%);
  @include tablet-portrait-and-below {
    border: 0;
   }
}

li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  padding: .3em;
}

