.experience {
  height: 100vh;
}

.table-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 10em;
}

.cell {
  min-height: 15em;
}

.exp { 
  border-right: 1px solid hsl(209, 50%, 20%);
  border-bottom: 1px solid hsl(209, 50%, 20%);
}
.edu {
  border-left: 1px solid hsl(209, 50%, 20%);
  border-bottom: 1px solid hsl(209, 50%, 20%);
}

.extra {
  border-right: 1px solid hsl(209, 50%, 20%);
  border-top: 1px solid hsl(209, 50%, 20%);
}
.fun {
  border-left: 1px solid hsl(209, 50%, 20%);
  border-top: 1px solid hsl(209, 50%, 20%);
  justify-content: center;
  line-height: 15em;
}

li {
  text-decoration: none;
  list-style: none;
  text-align: left;
  padding: .3em;
}

