footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: hsl(209, 71%, 20%);
  color: rgb(235, 233, 233);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}