header{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: hsl(209, 71%, 20%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-btn {
  background-color: transparent;
  border: none;
  color: rgb(235, 233, 233);
  font-size: 1em;
  text-decoration: none;
  padding: 1em 10%;
}
.header-btn:hover, .header-btn:active{
  background-color: hsl(209, 71%, 40%);
  cursor: pointer;
}

.header-home-btn {
  flex: auto;
  text-align: left;
}

// nav{
//   line-height: 3em;
// }

.nav-btns{
  flex: 50%;
  text-align: right;
}
// .nav-btns .header-btn{
//   padding: 1em 10%;
// }