@import 'common';
@import 'mixins';

header{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: $mediumBlue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-btn {
  background-color: transparent;
  border: none;
  color: rgb(235, 233, 233);
  font-size: 1em;
  text-decoration: none;
  padding: 1em 10%;
}
.header-btn:hover{
  background-color: $blue;
  cursor: pointer;
}

.header-home-btn {
  flex: auto;
  text-align: left;
}
.header-home-btn .header-btn {
  padding: 1em 20%;
}

.nav-btns{
  display: block;
  flex: 50%;
  text-align: right;
  @include mobile-landscape-and-below { 
    display: none;
  }
}

#menu-container{
  display: none;

  @include mobile-landscape-and-below { 
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 1em;

  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #eee;
    margin: 6px 0;
    transition: 0.4s;
  }

  &.change{
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .bar2 {opacity: 0;}

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

#mobile-menu{ 
  max-height: 0;
  overflow-x: hidden;
  position: absolute;
  background-color: $mediumBlue;
  right: 0;
  top: 3em;
  transition: 1s;

  ul{
    padding-left: 0;
    margin: 0;
  }

  &.active{
    max-height: 10em;
  }

  .mobile-header-btn{
    text-decoration: none;
    color: inherit;
    padding: 0 2em;
    line-height: 2em;
    :hover, :active{
      background-color: $blue;
    } 
  }
}





