header{
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: hsl(209, 71%, 20%);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo title nav";
}

.header-nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "exp pro soc";
  flex-direction: row;
  justify-content: flex-end;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: rgb(235, 233, 233);
  font-size: 1em;
  text-decoration: none;
}
.header-btn:hover{
  background-color: hsl(209, 71%, 40%);
  cursor: pointer;
}

.exp-btn {grid-area: exp;}
.projects-btn {grid-area: pro;}
.social-btn {grid-area: soc;}


.header-home-btn {
  grid-area: logo;
}