.header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: hsl(209, 71%, 30%);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo title nav";
}

.header-nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}

.header-btn {
  display: flex;
  margin-right: 2em;
  background-color: transparent;
  border: none;
  color: rgb(235, 233, 233);
  font-size: 1em;
  padding: .5em;
}
.header-btn:hover{
  background-color: hsl(209, 71%, 40%);
  border-radius: 5px;
}