.home{
  margin-top: 3em;
  background-color: hsl(209, 70%, 10%);
  height: 100vh;
}
.title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(212, 212, 212);
}

.particles {
  height: 100%;
}