.projects {
  
}

.card-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
  color: rgb(163, 163, 163);
}

.project-card{
  width: 36em;
  margin: 1em;
  max-height: 40em;
}

.card-iframe {
  transform:scale(0.85);
  -webkit-transform:scale(0.85);
  -moz-transform:scale(0.85)
}