.projects {
  
}

.card-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  grid-template-areas: 
  "1st 2nd"
  "3rd 4th"
  "5th 6th";
}

.project-card{
  margin: 1em;
  background-color: hsl(209, 71%, 60%);
}

.card-iframe {
  transform:scale(0.8);
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8)
}