.projects {
  
}

.card-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  padding: 0 25%;
  color: rgb(163, 163, 163);
}

.project-card{
  margin: 1em;
}

.card-iframe {
  transform:scale(0.8);
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8)
}