@import './style/common-styles';
.App {
  text-align: center;
  line-height: 1.3em;
  color: rgb(212, 212, 212);
}

section{
  position: relative;
}

canvas {
  vertical-align: center;
}

.particles {
  position: fixed;
  background-position: 50% 50%;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: $darkBlue;
}