.App {
  text-align: center;
  line-height: 1.3em;
  color: rgb(212, 212, 212);
}

section{
  margin-top: 3em;
  position: relative;
}

.particles {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsl(209, 70%, 10%);
}